:root {
    color-scheme: dark light;
    font-family: system-ui;
  }

  * {
    margin: 0;
    padding: 0;
    body {
    background: #EDF4E9;
    }
  }

//FONTS  
 @font-face {
    font-family: "filson-pro", sans-serif;
    font-weight: 700;
    font-style: normal;
    src: url(https://use.typekit.net/quo4url.css);
 }

  h1, h2, h3 {
    display: flex;
    justify-content: center;
    color: #42633E;
  }

  h1 {
    font-size: 40px;
    padding: 30px;
  }

  h2 {
    font-size: 30px;
    padding: 50px 0 30px 0;
  }

  h3 {
    padding: 0  0 20px 0;
  }

  p {
    color: #42633E;
  }

  li {
    list-style-type: none;
    padding: 35px;

  }

//NAVIGATION
  nav {
    img {
        width: auto;
        padding: 3px;
    }
    #nav-top {
        background: #EDF4E9;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 1vw;
        width: auto;
        height: 10vh;
        #top-menu {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 50vw;
            height: auto;
            color: #42633E;
        }
        #search {
            background: #FFF;
            display: flex;
            justify-content: space-between;
            border: 3px solid #42633E;
            border-radius: 30px;
            display: flex;
            align-items: center;
            width: 200px;
            height: 35px;
            padding: 0 20px;
            color: #D0CCC8;
            img {
                width: 20px;
                height: 20px;
            }
        }

    }
    #nav-bot {
        background: #9F7858;
        display: flex;
        align-items: center;
        width: auto;
        height: 50px;
        p{
            font-family: "filson-pro", sans-serif;
            font-weight: 700;
            font-style: normal;
            color: #FFF;
        }
    }
  }

  #bread {
    display: flex;
    justify-content: left;
    padding: 15px 20px;
  }

//LAYOUT 
  #intro {
    background: #7D9E78;
  }

  .box {
    width: 500px;
    height: auto;
    padding: 30px;
  }

  .box-full {
    section {
      padding-bottom: 50px;
    }
    h2, h3, p {
      color: #FFF;
    }
  }

  #box-gen {
    background: #8EC580;
  }
  #box-ene {
    background: #DFADAE;
  }

  #groen {
    width: 100%;
    height: 150px;
    position: relative;
    z-index: -1;
    margin-bottom: -10px;
  }

  #gul {
    width: 90%;
    height: auto;
    position: relative;
    z-index: -1;
    margin-bottom: -10px;
  }

  #roed {
    width: 100%;
    height: auto;
    position: absolute;
    z-index: -1;
    margin-top: -10px;
  }

  .space{
    width: 100%;
    height: 250px;
  } 
  footer {
    width: 100%;
    height: 150px;
    background: #42633E;
  }

//SECTIONS
 section {
  display: flex;
  justify-content: space-evenly;
}
  #ah {
    display: flex;
    flex-direction: column;
    h1, p{
      color: #FFF;
    }
    div {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      padding: 0 0 20px 0;
    }
    img {
      width: 400px;
      height: auto;
    }
  }

  #indsats {
    font-size: 30px;
  }

  #fb-box {
    background: #2F8A36;
    margin: 0 20px;
    padding: 40px;
    h3, p {
      color: #FFF;
    }
  }

  #repair-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    img {
      width: 150px;
      height: 150px;
    }
  }
  
  #ga {
    height: 200px;
  }

  #derfor{
    color: #FFF;
  }
  